

<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>pouch-todo</title>
  <link rel="stylesheet" href="fontello/fontello.css"/>
  <link rel="stylesheet" href="style.css"/>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body ng-controller="TodoCtrl" class="row">
<div class="col-md-6 col-md-offset-3">
  

  <div class="header row">
    <div class="col-md-12 text-center">
      <h1>Todos<i class="icon-emo-thumbsup"></i></h1>
    </div>
  </div>

  <div class="task" ng-repeat="todo in todos" ng-cloak>
    <i class="icon-angle-right"></i>
    <span class="align-text">{{ todo.text }}</span>
    <i class="icon-cancel" ng-click="remove(todo)"></i>
  </div>

  <input type="text" placeholder="Que tarea quieres realizar?" 
    ng-model="text" 
    ng-keyup="$event.keyCode == 13 ? submit() : null"></input>

<br>
<!---

Ejemplo Con boostrap

-->

<div class="row">
    <div class="col-md-10">
        <input type="text"    ng-keyup="$event.keyCode == 13 ? submit() : null" ng-model="text"  class="form-control" placeholder="Tarea" aria-describedby="basic-addon1">
    </div>
    <div class=" col-md-2">
        <button class="btn btn-success " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Enviar
        </button>
    </div>
</div>

<!--

contactenme en
lcrojano@gmail.com

-->


  <script src="libs/angular.js"></script>
  <script src="libs/pouchdb.min.js"></script>
  <script src="pouch-todo.js"></script>
  </div>
</body>
</html>
